body{
    background-color: white;
}
Header{
    margin: 0 auto;
    background-color: white;
    font-style: italic;
    font-weight: lighter;
    color: blue;
    font-family: 'Lucida Sans';
    width: fit-content;
    height: fit-content;

    display: flex;
    justify-content: center;
}


.pai{
    background-color: aliceblue;
    margin: 0 auto;
    width: 45%;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Lucida Sans';

    display: flex;
    justify-content:center;
    align-items: bottom;
    


}

.pai2{
    background-color: aliceblue;
    margin: 0 auto;
    width: 45%;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Lucida Sans';

    display: flex;
    justify-content:center;
    align-items: bottom;
    
}



    